.gameclockContainer {
    position: absolute;
    top: 0;
    left: calc( 50% - 150px);
    width: 300px;
    height: 150px;
    z-index: 100;

    & .imageContainer {
        position: absolute;
        top: -150px;
    }


    & .withTransition {
        transition: transform linear var(--clock-transition-duration);
    }

    & .temporary {
        position: absolute;
        left: 150px;
        top: 50px;
    }
}