
:root {
    --font-size-xs: 8px;
    --font-size-sm: 12px;
    --border-radius-sm: 5px;
}

.button {
    border: 1px solid #333;
    background-color: #FFF;
    color: #333;
    cursor: pointer;
    text-align: center;

    &.xs {
        font-size: var(--font-size-xs);
        padding: 2px 7px 2px 7px;
    }

    &.sm {
        font-size: var(--font-size-sm);
        border-radius: var(--border-radius-sm);
        padding: 5px 10px 5px 10px;
    }

    &:hover {
        background-color: #CCC;
        color: #111;
    }

    &.selected {
        background-color: #333;
        color: #FFF;
    }
}


.label {
    user-select: none;
    cursor: default;

    &.xs {
        font-size: var(--font-size-xs);
    }

    &.sm {
        font-size: var(--font-size-sm);
    }
}

.inputText {
    user-select: none;
    outline: none;
    background-color: #333;
    border: 1px solid #666;
    box-shadow: none;

    &.sm {
        font-size: var(--font-size-sm);
        border-radius: var(--border-radius-sm);
        padding: 5px;
    }

    &:focus {
        background-color: #666;
        border-color: #FFF;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #333;

            &::before {
                transform: translateX(12px);
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #444;
        transition: 0.2s;
        border-radius: 9px;

        &::before {
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            left: 2px;
            bottom: 2px;
            background-color: #666;
            transition: 0.2s;
            border-radius: 50%;
        }
    }
}


.separator {
    position: relative;
    height: calc( 100% - 8px);
    width: 1px;
    background-color: #999;
    margin-left: 10px;
    margin-right: 10px;
}